@*@model IEnumerable<Pierwszy__prodzekt.Models.Product>*@

@model IEnumerable<Pierwszy__prodzekt.Models.Product>

<h1>Lista produktów</h1>

<ol>
    @foreach (var product in Model)
    {
    <li>
        <b>@product.Name</b> - @product.Category
        <a href="@Url.Action("Details","WarehouseController1", new { Id = product.Id })">Szczegóły</a>

            @using (Html.BeginForm("Delete", "WarehouseController1", FormMethod.Post))
        {
            <input type="hidden" name="Id" value="@product.Id" />
            <button type="submit">Usuń</button>
        }
    </li>
    }
</ol>
